/*.suo
/AddressBook/bin
/AddressBook/obj
/packages
/AddressBook/App_Data
/AddressBook.Core/bin
/AddressBook.Core/obj
/AddressBook.Ang/bin
/AddressBook.Ang/obj
/AddressBook/Scripts/appService.js
/AddressBook.Ang/Scripts/spa.js
/AddressBook.Ang/Scripts/spa.js.map
/.vs/AddressBook/v14/.suo
/AddressBook.Ang2/bin
/AddressBook.Ang2/obj
/AddressBook.Ang2/node_modules
/AddressBook.Ang2/scripts/app
