@{
    ViewBag.Title = "Отчеты";
}

<h2>Отчеты</h2>
<div>
    @Html.ActionLink("Список людей с телефонами", "PhoneList")
</div>
<div>
    @Html.ActionLink("Количество телефонов", "PhoneCount")
</div>

