@model IEnumerable<AddressBook.Core.DataAccess.PhoneListReportModel>

@{
    ViewBag.Title = "Список людей с телефонами";
}

<h2>Список людей с телефонами</h2>

<table>
  <tr>
    <th>
      @Html.DisplayNameFor(model => model.PersonName)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.PersonPhone)
    </th>
  </tr>

  @foreach (var item in Model) {
    <tr>
      <td>
        @Html.ActionLink(item.PersonName, "Edit", "Home", new { id=item.PersonId }, null)
      </td>
      <td>
        @Html.ActionLink(item.PersonPhone, "Edit", "Phone", new { id=item.PhoneId }, null)
      </td>
    </tr>
  }

</table>
