@model IEnumerable<AddressBook.Core.DataAccess.PhoneCount>

@{
  ViewBag.Title = "Количество телефонов";
}

<h2>Количество телефонов</h2>

<table>
  <tr>
    <th>
      @Html.DisplayNameFor(model => model.PersonName)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.Phones)
    </th>
  </tr>

  @foreach (var item in Model)
  {
    <tr>
      <td>
        @Html.ActionLink(item.PersonName, "Edit", "Home", new { id = item.PersonId }, null)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Phones)
      </td>
    </tr>
  }

</table>
