<h2>Список людей</h2>

<p>
  <a ui-sref="reports">Отчеты</a>
</p>
<p>
  <a ui-sref="createPerson">Создать</a>
</p>

<div>
  <div>
    <input type="text" name="personName" data-ng-model="vm.searchText" />
    <button type="button" data-ng-click="vm.getByName()">Поиск</button><br />
    <img id="loading" src="Images/preloader.gif" data-ng-show="vm.isShowProgress" alt="Loading..." />
  </div>
  <div id="SearchResults" data-ng-show="!vm.isShowProgress">
    <table style="width: 50%" class="table table-bordered">
      <thead>
      <tr>
        <th class="col-md-1">Имя</th>
        <th class="col-md-1">Фамилия</th>
        <th class="col-md-1">Дата рождения</th>
        <th class="col-md-3"></th>
      </tr>
      </thead>
      <tbody>
      <tr data-ng-repeat="person in vm.persons" data-ng-class-even="'evenRowStyleGrid'">
        <td class="col-md-1">{{person.name}}</td>
        <td class="col-md-1">{{person.surName}}</td>
        <td class="col-md-1">{{person.birthDay | date }}</td>
        <td class="col-md-3">
          <a ui-sref="viewPerson({personId: person.id})">Детали</a>
          <a ui-sref="editPerson({personId: person.id})">Редактировать</a>
          <a href="#" data-ng-click="vm.deletePerson(person)">Удалить</a>
          <a ui-sref="phoneList({personId: person.id})">Телефоны</a>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
