<h2>Список людей</h2>

<p>
  <a ui-sref="reports">Отчеты</a>
</p>
<p></p>

<div>
  <input type="text" name="personName" data-ng-model="vm.searchText" />
  <button type="button" ng-click="vm.getByName()">Поиск</button><br/>
  <img id="loading" src="/Images/preloader.gif" data-ng-show="vm.isShowProgress" alt="Loading..."/>
  <div id="SearchResults" data-ng-show="!vm.isShowProgress">
    <table>
      <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Дата рождения</th>
        <th></th>
      </tr>
      <tr data-ng-repeat="person in vm.persons">
        <td>{{person.Name}}</td>
        <td>{{person.SurName}}</td>
        <td>{{person.BirthDay}}</td>
        <td>
          <a ui-sref="viewPerson({userId: person.Id})">Детали</a>
          <a ui-sref="editPerson({userId: person.Id})">Редактировать</a>
          <a href="/Phone/Index/1">Телефоны</a>
        </td>
      </tr>
    </table>
  </div>
</div>
